@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Poppins:wght@100;500;600&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&display=swap');
:root{
    --main-color:#2484FF;
    --main-color2:#67748E;
    --bg-color: #E3EAEF;
    --red: #EA0606;
    --green: #9ED616;
    --bg-red: #fcdbdb;
    --bg-green: #e8f5c7;
    --shadow: rgba(0,0,0,0.15) 0px 2px 8px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/* HEADER START*/
.lec_header{
    width: 100%;
    min-height: 100px;
    background-color: var(--main-color2);

}
.lec_header img{
    width: 85px;
    float: right;
    margin-right: 40px;
    margin-top: 7px;
}
.lec_name{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    text-align: right;
}
.lec_link{
    text-decoration: none;
    color: var(--bg-color);
    font-weight: 700;
    border: 3px solid var(--bg-color);
    padding: 7px 8px 5px 7px;
    font-size: 20px;

}
.lec_link:hover{
    color: var(--bg-color);
}
@media only screen and (max-width: 600px) {
    .hd_1{
        order: 1;
    }
    .hd_2{
        order: 2;
    }
    .lec_header img{
        margin-right: 10px;
    }
    .lec_name{
        margin-right: 10px;
        font-size: 20px;
        text-align: right;

    }
}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*sidebar start*/
.sidebar{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
.accordion-button{
    background-color: var(--bg-color);
    color: var(--main-color2);
    font-weight: 700;
}
.accordion-button::after{
    position: absolute;
    left: 0;
    margin-left: 15px;
}
.accordion-button:not(.collapsed){
    color: var(--main-color2);
}
.collapse_sec_num{
    color: #777777;
    font-weight: 500;
    margin-left: 8px;
}
.lesson_title{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.lesson_title i{
    margin-left: 8px;
}
.lesson_title a{
    color: black;
}
.lesson_title span{
    float: left;
    color: #8F8F8F;
}
/*///////////////////////////////////////////////////////////////*/
/*audio player*/

.audio_player{
    margin-top: 20px;
    margin-bottom: 30px;
    float: right;
    margin-right: 40px;
}
.audio_player audio{
    width: 800px;
}
@media only screen and (max-width: 600px) {
   .audio_player{
       margin-right: 10px;
   }
    .audio_player audio{
        width: 300px;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////*/
/*exam*/
.take_exam{
    margin-top: 60px;
    margin-bottom: 20px;
}
.take_exam img{
    width: 620px;
}

.ex_text{
    font-weight: 700;
    color: var(--main-color2);
    font-size: 35px;
}
.prc{
    font-weight: 700;
    color: var(--red);
    font-size: 35px;
}
.ex_red{
    font-size: 20px;
    font-weight: 500;
    color: var(--red);
    margin-top: 20px;
}
.ex_green{
    font-size: 20px;
    font-weight: 500;
    color: var(--green);
    margin-top: 20px;
}
.ex_main{
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color2);
    margin-top: 20px;
}
.exam_btn{
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    background-color: var(--bg-color);
    color: var(--main-color2);
    padding: 3px 50px 3px 50px;
    border: 1px solid var(--main-color2);
    border-radius: 10px;
    width: 255px;
    height: 55px;
}
.exam_btn:hover{
    color: var(--main-color2);
}
@media only screen and (max-width: 600px) {
    .take_exam img{
        width: 300px;
    }
    .exam_btn{
        width: 170px;
        height: 40px;
        font-size: 20px;
    }
    .ex_text,.prc{
        font-size: 20px;
    }
}

/*********************/
/**** exam tabs ******/
/**********************/
.exam-parent{
    direction: rtl;

}
.exam-tab{
    display: flex;
    width: 100%;
    overflow-x: scroll;


}
.exam-tab::-webkit-scrollbar{
    display: none;
}
.tab-item{
    background-color: #E3EAEF;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    color: #67748E;
    font-size: 12px;
    flex-direction: column;
    transition: all .3s ease;
    width: 100%;
}
.tab-item2{
    background-color: #E3EAEF;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    color: #67748E;
    font-size: 12px;
    flex-direction: column;
    transition: all .3s ease;
    width: 100%;
    border-radius: 15px;
}
.tab-item2 .tab-num2{
    font-size: 25px;
}
.tab-item.active-tab{
    background-color: #2484FF;
    color: #fff;
}
.tab-num{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
.tab-num2{
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--main-color2);
}
.tab-icon span{
    margin: 0 2px;
}

.btn-control{
    display: flex;
}
.btn-control button{
    margin: 0 5px;
}
.question{
    opacity: 0;
	max-width: 0;
	max-height: 0;
	transition: 0.3s opacity ease;
	overflow: hidden;
}
.question.active-tab {
	opacity: 1;
	margin-top: 2rem;
	overflow: visible;
	max-width: 30000px;
	max-height: 30000px;

}
/*/////////////////////////*/
/*/////////take exam /////////*/
/*//////////////////////////////*/
#clipboard-question{
    color: var(--main-color2);
    font-size: 105px;
    margin-top: 100px;
}
.question_head{
    background-color: #ffffff;
    box-shadow: var(--shadow);
    padding: 13px 17px 13px 19px;
    max-width: 280px;
    border-radius: 10px;
}
.question_head .checkflag,.question_head .uncheckflag{
    visibility: hidden;
}
.question_head span{
    color: var(--main-color2);
    font-weight: 600;
    font-size: 25px;
}
.unflagQuestion{
    color: var(--main-color2);
    font-size: 20px;
    background-color: var(--bg-color);
    padding: 12px;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: var(--shadow);
}
.flagQuestion{
    color: #ffffff;
    font-size: 20px;
    background-color: var(--main-color);
    padding: 12px;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: var(--shadow);
}
.hide_icon{
    visibility: hidden;
}
.show_icon{
    visibility: visible;
}
.all_questions{
    float: left;
    color: var(--main-color2);
    font-size: 25px;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    padding: 14px;
    border-radius: 10px;
}


.rightBtn,.leftBtn{
    border-style: none;
    background-color: #ffffff;

}
.rightBtn i{
    background-color: var(--bg-color);
    color: var(--main-color2);
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.leftBtn i{
    background-color: var(--bg-color);
    color: var(--main-color2);
    font-size: 25px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.question_img{
    margin-top: 50px;
    max-height: 250px;
    max-width: 100%;
}
.question_text{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .question_text{
        font-size: 20px;
    }
}
.anserBox{
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 15px 20px 15px 0;
    margin-top: 15px;
}
.anserBox input{
    margin-left: 20px;
}
.anserBox .anser_text{
    font-size: 22px;
    font-weight: 500;
}
.selectedAnser{
    border: 1px solid var(--main-color);
    background-color: #E7F6FD;
}
.correctAnser{
    border: 1px solid var(--green);
    background-color: var(--bg-green);
}
.wrongAnser{
    border: 1px solid var(--red);
    background-color: var(--bg-red);
}
