body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
}
.bg_addExam{
    height: 250px;
    width: 100%;
    max-width: 1540px;
    background-image: url("../imgs/add_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-top: 25px;
    z-index: 1;
    position: absolute;
}
.main_div{
    z-index: 2;
    position: absolute;
    margin-top: 120px;
    width: 100%;
}
.page_title{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    padding-right: 20px;
    color: var(--font-light);
    font-size: 20px;
    font-weight: 700;
    box-shadow: var(--shadow);
}
.page_title i{
    font-size: 25px;
    margin-left: 15px;
}
.main_exam_info{
    background-color: #ffffff;
    margin-top: 20px;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
.add_questions{
    background-color: #ffffff;
    margin-top: 20px;

    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
.main_title{
    font-size: 30px;
    font-weight: 600;
    color: var(--font-dark);
}
.main_title span{
    color: #BBBBBB;
}
.blue_line{
    background-color: var(--main-color);
    width: 40px;
    height: 5px;
    margin-top: 8px;
}
.input_label{
    font-size: 18px;
    font-weight: 600;
    color: var(--font-light);
    margin-top: 50px;
}

.input_box{
    margin-top: 20px;
}
.end-line{
    width: 99%;
    background-color: #C4C4C4;
    height: 1px;
    margin-top: 50px;
}
.sub_btn{
    border-style: none;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin-top: 20px;
    padding: 7px 30px 7px 30px;
    margin-bottom: 20px;
}
.sub_btn:hover{
    background-color: #1a64c3;
}
.a_btn{
    text-decoration: none;
    color: var(--font-light);
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--font-light);
    margin-top: 20px;
    margin-right: 15px;
    padding: 5px 30px 5px 30px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}
.a_btn:hover{
    background-color: var(--font-light);
    color: #ffffff;
}
.question-box{
    background-color: #E3EAEF;
    width: 100%;
    margin-top: 20px;
    padding: 40px;
    border-right: 5px solid var(--font-light) ;
}
.add_question{
    width: 100%;
    margin-top: 20px;
    padding: 40px;
    border: 3px dashed var(--font-light);
    color: var(--font-light);
    font-size: 20px;
    font-weight: 700;
}
.add_question:hover{
    border: 3px solid var(--font-light);
    transition: all 0.3s ease;
}
.add_question i{
    margin-left: 15px;
    margin-top: 6px;
}
.que_title{
    font-size: 18px;
    color: var(--font-light);
    font-weight: 700;
}
.que_namber{
    font-weight: 400;
    font-size: 18px;
    color: var(--font-light);
    margin-left: 15px;
}
.question-box i{
    font-size: 18px;
    color: var(--font-light);
}
.question-details{
    background-color: #cddae3;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}
.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-]{
    display: block;
}
.filter-option-inner-inner{
    font-size: 15px;
    text-align: right;
}
.bootstrap-select .dropdown-menu.inner{
    text-align: right;
    font-size: 15px;
}
.toggleActive{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.toggleNonActive{
    transform: rotate(360deg);
    transition: all 0.3s ease;
}
.hideDiv{

}
.showDiv{
    display: block;
}
.deleteBtn:hover{
    color: #EA0606;
    transition: all 0.2s ease;
}
.delete-warning{
    border-radius: 6px;
    border: 2px solid #EA0606;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 20px;
}
.delete-warning p{
    font-size: 17px;
    font-weight: 700;
    color: var(--font-light);
}
.btn-outline-secondary{
    margin-right: 10px;
}
