.coupon-card {
    position: relative;
    width: 100%;
}

.title-div {
    position: absolute;
    z-index: 501;
    margin-right: 45px;
    margin-top: 10px;
}

.card_body {
    position: absolute;
    z-index: 502;
    margin-right: 45px;
    margin-top: 80px;
}

.svg_img {
    z-index: 500;
}

.date {
    font-size: 12px;
    font-weight: 600;
    color: #CACACB;
}

.tname {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}

.body_title {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.black_line {
    background-color: black;
    width: 40px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.qr-tag {
    margin-top: -5px;
}

.card-body2 {
    position: absolute;
    width: 300px;
    margin-top: 100px;
    margin-right: 40px;
}

.date-title {
    font-size: 12px;
    color: black;
}

.date-text {
    color: #8D8D8D;
    font-size: 12px;
}

.card-code {
    position: absolute;
    margin-right: 100px;
    margin-top: 211px;
}

.card-code span {
    color: black;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 10px;
    text-transform: none;
}